ACN_ENV=local
ACN_LOG_LEVEL=INFO

ACN_API_HOST=0.0.0.0
ACN_API_PORT=8000

ACN_POSTGRES_HOST=postgres
ACN_POSTGRES_PORT=5432
ACN_POSTGRES_DB=acn
ACN_POSTGRES_USER=acn
ACN_POSTGRES_PASSWORD=acn

ACN_REDIS_HOST=redis
ACN_REDIS_PORT=6379
ACN_REDIS_DB=0

ACN_MLFLOW_TRACKING_URI=http://mlflow:5000
ACN_MLFLOW_ARTIFACT_ROOT=s3://mlflow/

ACN_MINIO_ENDPOINT=http://minio:9000
ACN_MINIO_ACCESS_KEY=minioadmin
ACN_MINIO_SECRET_KEY=minioadmin
ACN_MINIO_BUCKET=mlflow
ACN_MINIO_REGION=us-east-1

VITE_API_BASE_URL=http://localhost:8000

